@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;
  --primary: 240 5.9% 10%;
  --primary-foreground: 0 0% 98%;
  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;
  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;
  --accent: 159.6 84.3% 39.4%; /* #10b981 (emerald-500) */
  --accent-foreground: 240 10% 3.9%; /* #09090b (zinc-950) */
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --ring: 240 5.9% 10%;
  --radius: 0.5rem;
}

.dark {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
  --card: 240 10% 3.9%;
  --card-foreground: 0 0% 98%;
  --popover: 240 10% 3.9%;
  --popover-foreground: 0 0% 98%;
  --primary: 0 0% 98%;
  --primary-foreground: 240 5.9% 10%;
  --secondary: 240 3.7% 15.9%;
  --secondary-foreground: 0 0% 98%;
  --muted: 240 3.7% 15.9%;
  --muted-foreground: 240 5% 64.9%;
  --accent: 159.9 66.2% 52.5%; /* #34d399 (emerald-400) */
  --accent-foreground: 240 10% 3.9%; /* #09090b (zinc-950) */
  --destructive: 0 72% 51%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 3.7% 15.9%;
  --input: 240 3.7% 15.9%;
  --ring: 240 4.9% 83.9%;
}

/* Custom Fonts Weight Mappings */
.font-normal {
  font-family: 'Inter-Regular';
}
.font-medium {
  font-family: 'Inter-Medium';
}
.font-semibold {
  font-family: 'Inter-SemiBold';
}
.font-bold {
  font-family: 'Inter-Bold';
}
.font-black {
  font-family: 'Sora-Bold';
}

/* Sora Explicit Font Utilities */
.font-sora {
  font-family: 'Sora-Regular';
}
.font-sora-medium {
  font-family: 'Sora-Medium';
}
.font-sora-semibold {
  font-family: 'Sora-SemiBold';
}
.font-sora-bold {
  font-family: 'Sora-Bold';
}

/* Inter Explicit Font Utilities */
.font-inter {
  font-family: 'Inter-Regular';
}
.font-inter-medium {
  font-family: 'Inter-Medium';
}
.font-inter-semibold {
  font-family: 'Inter-SemiBold';
}
.font-inter-bold {
  font-family: 'Inter-Bold';
}

/* Base tag overrides for React Native components */
text {
  font-family: 'Inter-Regular';
}
input {
  font-family: 'Inter-Regular';
}


